.demo.flex-1!= source.html
.tab.flex-1.code
  div
    button.tab-nav.active JavaScript
    button.tab-nav HTML
    if code.json
      button.tab-nav JSON
  .tab-content
    pre.tab-item.active!= code.js
    pre.tab-item!= code.html
    if code.json
      pre.tab-item!= code.json