extends layout
block head
  link(rel='stylesheet', href='/stylesheets/index.css')
block header
  .banner
    p.solgan Componentization、OOP、Template-based、Event-driven
    a(href='tutorial').start GET STARTED
block main
  .flex-1
    .center
      mixin feature(name, icon, detail)
        dl
          dt
            i.iconfont(class='icon-' + icon)
            = name
          dd= detail
      .flex.wrap.features
        +feature('Componentization', 'all', '组件化开发，各功能模块互相解耦，清晰的依赖关系，灵活的组合搭配')
        +feature('OOP', 'box', '纯面向对象，业务逻辑继承基础功能，高复用，易维护')
        +feature('Template-based', 'print', '基于模板动态渲染，大大提升可维护性以及减少大量的DOM操作')
        +feature('Event-driven', 'process', '事件驱动机制，解决模块间通信问题，杜绝互相干扰')
    //- div.footer
    //-   a.start(href='docs.html') GET STARTED
    //-   .last-commit
    //-     img#lastCommitAuthor.avator
    //-     span 
    //-       | latest commit: "
    //-       span#lastCommitMsg
    //-       | "
    // script.
      // var xhr = new XMLHttpRequest()
      // var self = this
      // xhr.open('GET', 'https://api.github.com/repos/jianghai/trunk/commits?per_page=1&sha=master')
      // xhr.onload = function () {
      //   var json = JSON.parse(xhr.responseText)
      //   lastCommitAuthor.setAttribute('src', json[0].author.avatar_url)
      //   lastCommitMsg.textContent = json[0].commit.message
      // }
      // xhr.send()
