doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/icon/iconfont.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    block head
  body
    #wrapper.flex
      header
        .center(class={'flex align-center': page !== 'index'})
          if page !== 'index'
            h2.flex-1
             a#logo(href='/') TRUNK.JS
          ul#nav
            li(class={active: page === 'docs'})
              a(href='../docs') DOCS
            li(class={active: page === 'components'})
              a(href='../components') COMPONENTS
            li(class={active: page === 'faq'})
              a(href='../faq') FAQ
            li
              a(href='') GITHUB
      main.center.flex.flex-1
        block main
    block foot
    script(src='/javascript/global.js')
