doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/icon/iconfont.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    block head
  body
    #wrapper.flex
      header
        .center.flex
          .flex-1.flex
            h2
              a#logo(href='/') TRUNK.JS
            ul#nav.flex-1
              li(class={active: page === 'tutorial'})
                a(href='../tutorial') Tutorial
              li(class={active: page === 'docs'})
                a(href='../docs') API Reference
              li(class={active: page === 'components'})
                a(href='../components') Components
          ul.links
            li
              a(href='https://github.com/jianghai/trunk') GitHub
        block header
      main.center.flex.flex-1
        block main
      footer
        .center
          p Licensed under MIT license.
          div
            a(href='https://github.com/jianghai/trunk', title='GitHub')
              i.iconfont.icon-github
            a(href='https://github.com/jianghai/trunk/issues', title='Bug反馈')
              i.iconfont.icon-genzongmubiaoguanli
            a(href='mailto:jianghai1007@gmail.com', title='邮箱联系')
              i.iconfont.icon-youjian
            a(href='/tutorial#faq', title='常见问题')
              i.iconfont.icon-bangzhu
    i.iconfont.icon-zuishangbu#toTop
    block foot
    script(src='/javascript/global.js')