body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
button,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
  display: block;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: 0;
}

button[disabled] {
  cursor: not-allowed;
}

button:focus,
textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

a {
  color: #2681cc;
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
  color: #acacac;
}

a:hover {
  text-decoration: underline;
}

pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  padding: .8rem 1rem;
  background-color: #f8f5ec;
  border-radius: 4px;
  word-break: break-word;
}
pre .tag {
  color: #62a35c;
}
pre .attr {
  color: #795da3;
}
pre .kwd {
  color: #795da3;
}
pre .num {
  color: #0086b3;
}
pre .com {
  color: #9b9b9b;
}
pre .str {
  color: #df5000;
}

p,
pre {
  margin-top: 1.2em;
}

p:first-child,
pre:first-child {
  margin-top: 0;
}

.iconfont {
  font-size:1rem;
  line-height: 1;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.align-middle {
  align-items: center;
}

.flex.align-right {
  justify-content: flex-end;
}


.flex-1 {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.flex-2 {
  flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
}

.center {
  width: 980px;
  margin: 0 auto;
}

svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-right: .3em;
  vertical-align: -.12em;
}

html {
  overflow-y: scroll;
  font-size: 13px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.62;
  background-color: #fff;
  color: #262626;
  min-width: 1250px;
  min-height: 500px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
}

#wrapper {
  min-height: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
}
header {
  line-height: 45px;
  height: 45px;
  background-color: rgb(79, 152, 234);
}

header a {
  color: #fff;
}
header a:hover {
  text-decoration: none;
}

#logo {
  font-style: italic;
}

#nav {
  text-align: center;
}
#nav li {
  display: inline-block;
}
#nav a {
  padding: 0 20px;
  color: #C3C3C3;
  font-size: 13px;
  font-weight: 600;
  transition: .3s;
}
#nav .active a {
  color: #fff;
}
#nav a:hover {
  color: #f2f2f2;
}

header + main.center {
  margin: 2rem auto;
}

.sidebar {
  width: 180px;
  padding: 1rem 0;
  background-color: #f7f7f7;
}
.sidebar a {
  color: #6c6c6c;
  display: block;
  padding: .5rem 1.5rem;
  transition: .15s;
}
.sidebar a:hover {
  text-decoration: none;
  background-color: #eaeaea;
}
.sidebar .active a {
  background-color: #e0e0e0;
}
.sidebar > ul > li {
  /* margin: 2rem 0; */
}
.sidebar ul ul li {
  margin: .4rem 0;
}
.sidebar ul ul a {
  padding-left: 4rem;
}

.content {
  /* padding: 1.5rem 2rem; */
  background-color: #fff;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.tab .tab-nav > button {
  padding: .7rem .8rem;
  /*transition: .2s;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tab .tab-content {
  /* border-bottom-left-radius: 4px; */
  /* border-bottom-right-radius: 4px; */
  /* border-top-right-radius: 4px; */
}
.tab .tab-content > * {
  display: none;
}
.tab .tab-content > .active {
  display: block;
}

.tab.code .tab-nav > button {
  /* border: 1px solid #d5d5d5; */
  background-color: #f1ede4;
  border-bottom: 0;
  color: #c2c0bc;
  font-weight: bold;
}
.tab.code .tab-nav > button + button {
  /* border-left: 0; */
  margin-left: 1px;
}
.tab.code .tab-nav > button.active {
  color: #222;
}
.tab.code .tab-content {
  /* border: 1px solid #d5d5d5; */
}
.tab.code .tab-content > pre {
  margin-top: 0;
  border-top-left-radius: 0;
  /* border-top-right-radius: 0; */
}