body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
button,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
  display: block;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: 0;
}

button[disabled] {
  cursor: default;
}

button:focus,
textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

a {
  color: #2681cc;
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
  color: #acacac;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}
table tbody tr:hover {
  background-color: #f8f8f8;
}
table th,
table td {
  padding: 2px 5px;
}

code,
pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
code {
  padding: 2px 4px;
  color: #c7254e;
  white-space: nowrap;
  border-radius: 0;
  background-color: #f8f8f8;
}
pre {
  padding: .8rem 1rem;
  background-color: #f8f8f8;
  border-radius: 4px;
  word-break: break-word;
}
pre .tag {
  color: #881280;
}
pre .attr {
  color: #994500;
}
pre .kwd {
  color: #333333;
  font-weight: bold;
}
pre .in {
  color: #0086b3;
}
pre .kc {
  color: #0086b3;
}
pre .num {
  color: #0086b3;
}
pre .com {
  color: #9b9b9b;
  font-style: italic;
}
pre .str {
  color: #d14;
}

.iconfont {
  font-size:1em;
  line-height: 1;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.align-middle {
  align-items: center;
}

.flex.align-right {
  justify-content: flex-end;
}


.flex-1 {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.flex-2 {
  flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
}

.center {
  width: 980px;
  margin: 0 auto;
}

svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-right: .3em;
  vertical-align: -.12em;
}

html {
  overflow-y: scroll;
  font-size: 13px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  background-color: #fff;
  color: #444;
  min-width: 1250px;
  min-height: 500px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
}

#wrapper {
  min-height: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
}
header {
  line-height: 45px;
  background-color: rgb(79, 152, 234);
}

header a {
  color: #fff;
}
header a:hover {
  text-decoration: none;
}

#logo {
  font-style: italic;
}

#nav {
  /*text-align: center;*/
  margin-left: 40px;
}
#nav li {
  display: inline-block;
}
#nav a {
  padding: 0 20px;
  color: #135177;
  /*font-size: 14px;*/
  font-weight: 600;
  transition: .3s;
}
#nav .active a {
  color: #fff;
}
#nav a:hover {
  color: #f2f2f2;
}

header + main.center {
  margin: 30px auto;
}

.sidebar {
  width: 180px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  overflow-wrap: break-word;
}
.sidebar a {
  color: #6c6c6c;
  display: block;
  padding: .5rem 1.5rem;
  transition: .15s;
}
.sidebar a:hover {
  text-decoration: none;
  background-color: #eaeaea;
}
.sidebar a.active {
  background-color: #e0e0e0;
}
.sidebar > ul > li {
  margin-top: 1rem;  
}
.sidebar > ul > li > a {
  font-weight: bold;
}
.sidebar ul ul li {
  /*margin: .4rem 0;*/
}
.sidebar ul ul a {
  padding-top: 0;
  padding-bottom: 0;
  /*padding-left: 4rem;*/
}

#toTop {
  visibility: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #555;
  font-size: 25px;
  cursor: pointer;
  transition: visibility 0s .2s, .2s;
  opacity: 0;
  transform: translateY(100px);
}
body.fixed #toTop {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  transition-delay: 0s;
}
#toTop:hover {
  color: #333;
}
body.fixed .sidebar {
  position: fixed;
  top: 15px;
  bottom: 100px;
  overflow: auto;
  overflow-wrap: normal;
}
body.fixed .sidebar + .content {
  margin-left: 180px;
}


.content {
  background-color: #fff;
  padding: 30px;
}

.content section + section h1 {
  margin-top: 4rem;
}
.content h1,
.content h2 {
  line-height: 1;
  color: #212121;
}
.content h1 {
  font-size: 1.8rem;
}
.content h2 {
  font-size: 1.1rem;
  margin-top: 3rem;
}
.content ol {
  list-style: disc;
  margin-left: 1.5rem;
}
.content p,
.content pre,
.content svg,
.content table,
.content ol {
  margin-top: 1.5rem;
}

.tab .tab-nav {
  padding: .7rem .8rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tab .tab-item {
  display: none;
}
.tab .tab-item.active {
  display: block;
}

.tab.code .tab-nav {
  background-color: #EAEAEA;
  border-bottom: 0;
  color: #c2c0bc;
  font-weight: bold;
}
.tab.code .tab-nav + .tab-nav {
  margin-left: 1px;
}
.tab.code .tab-nav.active {
  color: #222;
}
.tab.code .tab-item {
  margin-top: 0;
  border-top-left-radius: 0;
}

footer {
  margin-top: 1.5rem;
  background-color: #e8e8e8;
  color: #838383;
  padding: 20px;
}
footer a {
  text-decoration: none;
  color: #838383;
  font-size: 15px;
  margin-right: 10px;
  transition: .2s;
  line-height: 1;
}
footer a:hover {
  color: #000;
  text-decoration: none;
}