header + main.center {
  margin: 0 auto;
}
.content {
  padding: 0;
}
table.components th,
table.components td {
  border-bottom: 0;
}
table.components tbody td {
  border-top: 1px solid #dfdfdf;
}
table.components th,
table.components td {
  padding: 10px;
}
table.components button.demo {
  margin-left: 10px;
}
.stage .dialog-container {
  background-color: #fff;
}
.stage .dialog-content {
  padding: 30px;
}
.stage .dialog-close {
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  color: #898989;
  /*transition: transform .2s;*/
}
.stage .dialog-close:hover {
  color: #222;
  /*transform: rotate(90deg);*/
}
.stage .demo {
  margin-right: 20px;
}

.loading-container {
  display: inline-block;
}
/*.loading-container.show {
  display: inline-block;
}*/
.loading-container > i {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #A6ADAD;
  border-radius: 50%;
  line-height: 0;
  -webkit-transform: scale(0);
  transform-origin: center center;
  -webkit-animation: bouncedelay 1.3s infinite linear .1s;
}
.loading-container > i:nth-child(2) {
  -webkit-animation-delay: .4s;
  margin-left: 3px;
}
.loading-container > i:nth-child(3) {
  -webkit-animation-delay: .7s;
  margin-left: 3px;
}
@-webkit-keyframes bouncedelay {
  0%,100%,80% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1)
  }
}