header + main.center {
  margin: 0 auto;
}
.content {
  padding: 0;
}
table th,
table td {
  border-bottom: 0;
}
table tbody td {
  border-top: 1px solid #dfdfdf;
}
table th,
table td {
  padding: 10px;
}
.stage .dialog-container {
  background-color: #fff;
}
.stage .dialog-content {
  padding: 30px;
}
.stage .dialog-close {
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  color: #898989;
}
.stage .dialog-close:hover {
  color: #222;
}
.stage .demo {
  margin-right: 20px;
}