@-webkit-keyframes fromleft {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

header .banner {
  text-align: center;
  padding: 100px 0;
  color: #fff;
}
header .banner .solgan {
  font-size: 30px;
  transform: translateX(-100%);
  opacity: 0;
  -webkit-animation: fromleft 1s both;
}
header .banner .start {
  margin-top: 100px;
  border-radius: 9px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  padding: 3px 20px;
  color: #fff;
  display: inline-block;
  transition: .2s;
  transform: scale(.5);
  opacity: 0;
  -webkit-animation: scaleIn .3s 1s both;
}
header .banner .start:hover {
  background-color: #fff;
  border-color: rgb(79, 152, 234); 
  color: rgb(79, 152, 234);
}
.features dl {
  padding: 40px;
  flex-basis: 50%;
}
.features dt {
  font-size: 2rem;
  font-weight: normal;
  /*color: #555;*/
}
.features dt i {
  font-size: 2rem;
  margin-right: 1rem;
}
.features dd {
  /*color: #666;*/
}

/*
main {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
}

main iframe {
  margin: 10px 0;
}
main ul {
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
}
main ul li {
  margin: 5px 0;
}
.footer {
  background-color: #7f8c8d;
  color: #fff;
  padding: 4em 0;
  text-align: center;
}
.footer .start {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 25px;
  transition: all 0.15s ease;
  margin-bottom: 2em;
}
.footer .start:hover {
  background-color: #fff;
  color: #7f8c8d;
  transform: scale(1.05);
}
.footer .last-commit .avator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}*/