div(id=component)
  include /include/loading.jade
  script(type='text', class='template-' + component).
    <# if (data.stores && data.stores.length) { #>
      <ul class="list">
        <# data.stores.forEach(function(store, i) { #>
          <li class="flex">
            <label style="width:50px;margin-right:1rem">
              <img src="<#- store.iconIMG #>">
            </label>
            <div class="flex-1"><#- store.content #></div>
          </li>
        <# }); #>
      </ul>
    <# } else { #>
      <div>暂无数据</div>
    <# } #>
include includes/template-pagination.jade