div.tree(id=component)
  include /include/loading.jade
  script.template-tree(type='text').
    <# data && (function recursive(data) { #>
      <ul>
        <# data.forEach(function(child) { #>
        <li>
          <# if (child.children) { #>
          <button class="toggle"></button>
          <# } else { #>
          <i class="file"></i>
          <# } #>
          <#- child.name #>
          <!-- 递归渲染 -->
          <# child.children && recursive(child.children) #>
        </li>
        <# }) #>
      </ul>
    <# })(data) #>