form.search(id=component)
  .input-group
    i.iconfont.icon-search.tk-search
    input(type='text', placeholder='请输入关键词进行搜索', size='20')
    i.iconfont.icon-close.tk-clear
  button.btn.primary(type='submit') 搜索
