extends ../layout
block tab-nav
  button.active javascript
  button template
block tab-content
  pre.active!= example.usage
  pre!= example.template
block page-foot
  include example/template.html
  script
    include example/usage.js